<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tscloud.hivenotes">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bee_ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EditHiveActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.tscloud.hivenotes.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogEntryListActivity"
            android:label="@string/title_logentry_list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.tscloud.hivenotes.EditHiveActivity" />
        </activity>
        <activity
            android:name=".LogEntryDetailActivity"
            android:label="@string/title_logentry_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.tscloud.hivenotes.LogEntryListActivity" />
        </activity>
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.tscloud.hivenotes.MainActivity" />
        </activity>
        <activity
            android:name=".EditApiaryActivity"
            android:label="@string/title_apiary_edit_profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.tscloud.hivenotes.MainActivity" />
        </activity>
        <activity
            android:name=".EditHiveSingleActivity"
            android:label="@string/title_hive_single_edit_profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.tscloud.hivenotes.EditHiveActivity" />
        </activity>
        <activity
            android:name=".LogDateListActivity"
            android:label="@string/title_activity_log_date_list"
            android:parentActivityName=".EditHiveActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.tscloud.hivenotes.EditHiveActivity" />
        </activity>
        <activity
            android:name=".GraphActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".EventListActivity"
            android:label="@string/title_event_list"
            android:parentActivityName=".LogEntryListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.tscloud.hivenotes.LogEntryListActivity" />
        </activity>
    </application>

</manifest>